@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<p>
    Svrha ovog našeg projekta je olakšati studentima praćenje svojih obaveza vezanih uz fakultet
    te omogućiti studentima da lakše i na vrijeme izvršavaju svoje zadatke. Aplikacija omogućuje
    svojim korisnicima označavanje važnih datuma kao što su: kolokvij iz pojedinog predmeta, unos izostanaka
    u određenom tjednu nastave, izradu seminara i predaju zadaća i potrebno vrijeme učenja za pojedini ispit.
    Osim praćenja kolokvija, korisnik može upisati i pratiti datume ispitnih rokova. Također, aplikacija je korisna
    da podsjeti studente kad moraju vratiti posuđenu knjigu u knjižnicu. Ukoliko student ima poteškoća u učenju
    nekog kolegija, u kalendar može unijeti vrijeme održavanja konzultacija kod nositelja ili vanjskog suradnika
    toga kolegija. Student može po potrebi unijeti i neku drugu osobnu obvezu koja je njemu važna (tako taj kalendar
    može biti višenamjenski).
</p>
